/* CSS Document */
@charset "utf-8";

.top{
    width: 100%;
    min-width: 1442px;
    height: 431px;
    margin: 0 auto;
    background-image: url("../img/aboutus/aboutus_0.jpg");
    text-align: center;
    position: relative;
}
.top_header{

    /*margin: 0 auto;*/
    height: 88px;
    width: 100%;
    position: relative;
    padding: 0;
    z-index: 99;
}
.top_header_nav,.top_header img{
    display: inline-block;
}
.top_header_nav a{
    font-size: 16px;
    color: #ffffff;
    margin: 0 20px;
}
.top_header_nav{
    position: relative;
    bottom: 8px;
    padding: 0;
}
.top_header img{
    width: 82px;
    height: 61px;
    margin: 10px 60px 0;
    padding-bottom: 3px;
    border-bottom: 3px solid #0059d2;
}
.top_title{
    width: 100%;
    height: 132px;
    background: #656565;
    position: absolute;
    bottom: 0;
}
.top_title h1{
    font-size: 60px;
    color: #ffffff;
    line-height: 132px;
    text-align: left;
    margin-left: 120px;
}
.top_title div{
    width: 1440px;
    margin: 0 auto;
}
.content{
    width: 100%;
    min-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
.content_nav{
    height: 96px;
    background: #ffffff;
}
.content_nav ul{
    width: 1200px;
    height: 96px;
    margin: 0 auto;
    /*margin-left: 120px;*/
}
.content_nav ul li{
    float: left;
    width: 120px;
    height: 34px;
    text-align: center;
    background: #eaeaec;
    margin: 31px 10px 31px 0;
}
.content_nav ul li a{
    font-size: 16px;
    line-height: 34px;
    color: #4c4c4c;
    padding: 7px 28px;
}
#content_nav_1{
    background: #0059d2;
}
#content_nav_1 a{
    color: #ffffff;
}
.content_main_wrap{
    width: 100%;
    min-width: 1440px;
    height: 2210px;
    margin: 0 auto;
    background: #eaeaec;
}
.content_main,.content_main_2{
    width: 1200px;
    height: 2210px;
    margin: 0 auto;
    position: relative;
}
.content_main_2{
    display: none;
}
.content_main_left,.content_main_mid,.content_main_right{
    width: 392px;
    float: left;
    margin-top: 20px;
}
.content_main_box{
    width: 392px;
    background: #ffffff;
    margin-bottom: 15px;
}
.content_main_box_title{
    width: 78px;
    height: 28px;
    background: #525456;
    margin-left: 34px;
}
.content_main_box_title p{
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
}
.content_main_box_pic{
    width: 392px;
    height: 309px;
    margin-top: 23px;
}
.content_main_box_text{
    width: 352px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.content_main_box_text h5{
    text-align: left;
    font-size: 20px;
    color: #165ea5;
    margin: 12px 0 0 0;
}
.content_main_box_text p{
    text-align: left;
    font-size: 16px;
    color: #5c5c5c;
    line-height: 26px;
    margin: 10px 0;
}
.content_main_mid{
    margin-left: 12px;
    margin-right: 12px;
}
.content_main_top{
    background: #4b4c4d;
    width: 53px;
    height: 53px;
    text-align: center;
    float: right;
    position: fixed;
    right: 10%;
    top: 80%;
    z-index: 999;
}
.content_main_top img{
    margin: 17px 0;
}
.footer{
    width: 100%;
    min-width: 1440px;
    height: 202px;
    margin: 0 auto;
    background: #1f2024;
}
.footer_content{
    width: 1200px;
    height: 202px;
    margin: 0 auto;
    text-align: center;
}
.footer_content_left{
    width: 600px;
    height: 202px;
    float: left;
}
.footer_content_left img{
    float: left;
    margin-left: 115px;
    margin-top: 50px;
}
.footer_content_left p{
    font-size: 12px;
    color: #373737;
    font-weight: bold;
}
.footer_content_left a{
    font-size: 12px;
    color: #373737;
}
.footer_content_left_p1{
    margin-top: 86px;
}
.footer_content_right{
    width: 600px;
    height: 202px;
    float: left;
}
.footer_content_right_icon{
    width: 170px;
    height: 30px;
    margin: 88px 100px 0 0;
    float: right;
}
.footer_content_right_qq,.footer_content_right_weixin,.footer_content_right_weibo{
    margin: 0 13px;
}
.footer_content_right_qq{
    width: 23px;
    height: 28px;
    float: left;
    position: relative;
}
.footer_content_right_blue{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}
.footer_content_right_qq:hover .footer_content_right_blue,.footer_content_right_weixin:hover .footer_content_right_blue,.footer_content_right_weibo:hover .footer_content_right_blue{
    display: block;
}
.footer_content_right_weixin{
    width: 31px;
    height: 26px;
    float: left;
    position: relative;
}
.footer_content_right_weibo{
    width: 31px;
    height: 27px;
    float: left;
    position: relative;
}